@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Quicksand:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #181325;
    color: white;
    overflow-x: hidden;
}

p {
    line-height: 28px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
    margin: 0;
}

h5 {
    font-size: 20px;
    margin: 0;
}

hr {
    margin-top: 100px;
}

/* Start : 404 */

.not-found__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   margin-top: 12em;
}

.emoticon {
    font-size: 150px;
    margin: 0;
}

/* End : 404 */

/* Start : Jumbotron */

.jumbotron {
    width: 100%;
    min-height: 350px;
    background-image: url("/src/images/computer.jpg");
    object-fit: cover;
    object-position: center;
    padding: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
    align-items: center;
    margin-top: 9%;
}

.jumbotron p {
    width: 60%;
    margin: 10px auto;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 18px;
}

/* End : Jumbotron */

/* Start : Navbar */

header {
    display: inline;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

.blog-notif {
    padding: 2px 50px;
    background-color: #372b52;
    text-align: center;
    letter-spacing: 0.7px;
}

.notif-sign {
    animation: beep 2.5s linear infinite;
}

.notif-blog__btn {
    color: orange;
    margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #251D3A;
    padding: 12px 50px;
    position: sticky;
    top: 0;
    box-shadow: 0 12px 15px 2px #0f0c17;
}

.logo {
    margin: 0;
}

nav ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

nav a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s;
}

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.menu-btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
}

/* End : Navbar */


#content {
    padding: 50px;
}

/* Start : Perkenalan */

#introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.content span {
    color: orange;
}

.content p {
    width: 80%;
    font-size: 18px;
}

.img-profile figure {
    padding-left: 40px;
}

.img-profile img {
    padding-right: 0;
    width: 320px;
    border-radius: 15px;
    border: 4px solid orange;
    box-shadow: 20px 20px 0 orange;
}

.text-arc {
    width: 200px;
    position: absolute;
    right: 20em;
    margin-top: -10em;
    animation: spin 5s linear infinite;
}

/* End : Perkenalan */

/* Start : Skill Highlight */

#skills-highlight {
    margin-top: 60px;
}

.container-scroll {
    top: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-scroll .scroll {
    width: 100%;
    height: 100%;
    display: flex;
}

.container-scroll .scroll div h3 {
    margin: 0;
    font-size: 80px;
    white-space: nowrap;
    animation: animate 15s linear infinite;
}

.container-scroll .scroll div:nth-child(2) {
    animation-delay: -10ms;
}

.text-orange {
    color: orange;
}

/* End : Skill Highlight */

/* Start : Design Projects */

#design-projects {
    margin-top: 80px;
}

#design-projects figure {
    margin: 0;
}

figure .img-project {
    border-radius: 12px;
    width: 100%;
}

.projects-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.projects-container .item-content {
    margin-top: 30px;
}

.projects-container .item-content a {
    color: orange;
    font-size: 20px;
    margin-top: 15px;
}

.card {
    width: 400px;
    padding: 15px;
    border: 2px solid orange;
    border-radius: 15px;
    box-shadow: 15px 15px 0 orange;
}

/* End : Design Projects */

/* Start : Web Projects */

.web-project__list {
    margin-top: 5em;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.web-project__item {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.web-project__item img {
    width: 420px;
    border-radius: 12px;
}

.call-to-action {
    width: 420px;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}

/* End : Web Projects */


.btn {
    padding: 15px 20px;
    background-color: orange;
    color: #251D3A;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.btn-outline {
    border: 2px solid orange;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: orange;
}

.btn-outline:hover {
    cursor: pointer;
}

.btn:hover {
    box-shadow: 4px 8px white;
    transition: 0.5s ease-in-out;
}


/* Start : Coding Journeys */

#coding-journeys {
    display: flex;
    margin-top: 80px;
}

.img-code figure {
    margin: 0;
}

.img-code img {
    width: 450px;
    border-radius: 15px;
    border: 4px solid orange;
    box-shadow: 20px 20px 0 orange;
}

#coding-journeys {
    gap: 100px;
}

#coding-journeys .content p {
    margin-bottom: 60px;
}

/* End : Coding Journeys */

/* Start : Frameworks */

.frameworks-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed orange;
    padding: 20px;
    border-radius: 20px;
    background-color: #251D3A;
}

.item-box img {
    width: 80px;
}

/* End : Frameworks */

/* Start : Working Experiences */

.work-experience__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-experience__item {
    display: flex;
    gap: 50px;
    align-items: center;
}

.work-experience__item img {
    width: 200px;
    border-radius: 100px;
}

.work-experience__detail p {
    font-size: 18px;
}

/* End : Working Experiences */

/* Start : Mini Blogs */

.blog-link {
    color: orange;
}

.mini-blog p {
    font-size: 18px;
}

.mini-blog__container {
    display: grid;
    gap: 30px;
    grid-template-rows: 1;
    grid-template-columns: repeat(5, 1fr);
}

.mini-blog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-blog__item img {
    width: 250px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.mini-blog-item__detail p {
    font-size: 16px;
}

.mini-blog__item:hover {
    cursor: pointer;
}

/* End : Mini Blogs */

/* Start : Motto */

.motto-item__container {
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   margin-top: 5em;
}

.motto-item__left, .motto-item__right {
    width: 800px;
}

.motto-img {
    position: absolute;
    right: 4em;
    z-index: -1;
}

/* End : Motto */

/* Start : Get in Touch */

.get-in-touch__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.get-in-touch__headline {
    font-size: 100px;
    margin: 50px;
}

.social-media {
    display: flex;
    gap: 40px;
}

.social-media__item {
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    text-decoration: none;
}

.social-media__item:hover {
    color: orange;
    transition: 0.3s;
}
/* End : Get in Touch */

/* Start : Footer */

footer p {
    margin-top: 50px;
    text-align: center;
}

/* End : Footer */

/* Animation */

@keyframes animate {
    0%
    {
        transform: translateX(0%);
    }

    100%
    {
        transform: translateX(-100%);
    }
}

@keyframes beep {
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes spin {
    
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Animation */


/* Utilities */

.mt-5 {
    margin-top: 5em;
}

.row-reverse {
    flex-direction: row-reverse;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.relative {
    position: relative;
}

.shadow-right {
    box-shadow: 20px 0 orange;
}

.shadow-left {
    box-shadow: -20px 0 orange;
}

.flex {
    display: flex;
}

/* Utilities */

@media screen and (max-width: 768px) {

    h4 {
        font-size: 28px;
    }

    .text-arc {
        width: 120px;
        position: absolute;
        left: 1.2em;
        margin-top: -42em;
    }


    .not-found {
        padding: 0 50px;
    }

    .not-found__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 12em;
     }

     .not-found__content h1 {
        padding: 0 30px;
        align-items: center;
     }
     
     .emoticon {
         font-size: 60px;
         margin: 0;
     }

    .blog-notif {
        padding: 2px 20px;
        background-color: #372b52;
        text-align: center;
        letter-spacing: 0.7px;
    }

    .blog-notif p {
        font-size: 12px;
        line-height: 1.7em;
        letter-spacing: 0.5px;
    }
    
    .notif-sign {
        animation: beep 2.5s linear infinite;
    }
    
    .notif-blog__btn {
        color: orange;
        margin-left: 5px;
    }

    .frameworks-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    
    .item-box img {
        width: 60px;
    }

    .item-box p {
        font-size: 16px;
    }

    .work-experience__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .work-experience__item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .work-experience__item img {
        width: 150px;
    }

    .work-experience__detail p {
        font-size: 16px;
    }

    .mini-blog__container {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .motto-item__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 2.5em;
     }
     
     .motto-item__left, .motto-item__right {
         width: 320px;
     }
     
     .motto-img {
        width: 320px;
        position: static;
     }

    .get-in-touch__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .get-in-touch__headline {
        font-size: 60px;
        margin: 30px;
    }
    
    .social-media {
        display: flex;
        gap: 20px;
    }
    
    .social-media__item {
        font-size: 30px;
        padding: 8px;
        border-radius: 6px;
    }

    footer p {
        font-size: 12px;
    }
    
}

@media screen and (min-width: 768px) {

    .frameworks-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .item-box img {
        width: 70px;
    }

    .item-box p {
        font-size: 18px
    }

    .mini-blog__container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .mini-blog__item img {
        width: 200px;
    }

    .mini-blog-item__detail {
        width: 200px;
    }

    .motto-item__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 3em;
     }
     
     .motto-item__left, .motto-item__right {
         width: 380px;
     }
     
     .motto-img {
         width: 220px;
         position: absolute;
         right: 2.5em;
         z-index: -1;
     }

    .get-in-touch__headline {
        font-size: 70px;
        margin: 40px;
    }
    
    .social-media {
        display: flex;
        gap: 30px;
    }
    
    .social-media__item {
        font-size: 40px;
        padding: 10px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 982px) {

    .frameworks-container {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
    }
    
    .item-box img {
        width: 80px;
    }

    .item-box p {
        font-size: 20px
    }

    .mini-blog__container {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .mini-blog__item img {
        width: 250px;
    }

    .mini-blog-item__detail {
        width: 250px;
    }

    .motto-item__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin-top: 5em;
     }
     
     .motto-item__left, .motto-item__right {
         width: 800px;
     }
     
     .motto-img {
         width: 400px;
         position: absolute;
         right: 4em;
         z-index: -1;
     }

}


@media screen and (max-width: 928px) {

    hr {
        margin-top: 60px;
    }

    h2 {
        font-size: 40px;
    }

    /* Start : Jumbotron */

    .jumbotron {
        padding: 50px;
        font-size: 18px;
        margin-top: 30%;
    }

    .jumbotron p {
        width: 80%;
        font-size: 16px;
    }

    /* End : Jumbotron */

    /* Start : Navbar */

    nav {
        padding: 10px 30px;
    }

    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 40vh;
        background-color: #251D3A;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0 50px 0;
        z-index: -10;
        transform: translateX(100%);
        box-shadow: 0 4px 12px 2px #0f0c17;
        transition: all 0.5s;
        opacity: 0;
    }

    nav ul.active {
        transform: translateX(0);
        opacity: 1;
    }

    nav a {
        font-size: 16px;
    }

    .menu-btn {
        display: flex;
    }

    /* End : Navbar */
    
   
    #content {
        padding: 30px;
        text-align: center;
    }

    /* Start : Expand Components Style */

    .card {
        border-radius: 10px;
        box-shadow: 10px 10px 0 orange;
    }

    /* End : Expand Components Style */

    /* Start : Perkenalan */

    #introduce {
        flex-direction: column-reverse;
    }

    .img-profile figure {
        padding-right: 50px;
        margin: 0 0 30px 0;
    }

    .img-profile img {
        width: 250px;
        border-radius: 10px;
        border: 2px solid orange;
        box-shadow: 10px 10px 0 orange;
    }

    .content h2 {
        font-size: 40px;
    }
    
    .content p {
        width: 100%;
        font-size: 16px;
    }

    .content span {
        color: orange;
    }

    /* End : Perkenalan */

    /* Start : Skill Highlight */

    #skills-highlight {
        margin-top: 20px;
    }

    .container-scroll .scroll div h3 {
        font-size: 40px;
        margin: 0;
    }

    /* End : Skill Highlight */

    /* Start : Design Projects */

    #design-projects {
        margin-top: 50px;
    }

    .projects-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card {
        width: 100%;
        margin-bottom: 60px;
    }

    figure .img-project {
        border-radius: 12px;
        width: 100%;
    }

    /* End : Design Projects */

    .web-project__list {
        margin-top: 2em;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        align-items: center;
    }
    
    .web-project__item {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .web-project__item img {
        width: 100%;
        border-radius: 12px;
    }
    
    .call-to-action {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: row-reverse;
        justify-content: center;
    }

    /* Start : Coding Journeys */

    #coding-journeys {
       flex-direction: column;
       text-align: center;
       gap: 15px;
    }

    .img-code img {
        width: 250px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 2px solid orange;
        box-shadow: 10px 10px 0 orange;
    }

    #coding-journeys .content p {
        margin-bottom: 50px;
    }

    /* End : Coding Journeys */

}